@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dongle&family=Jua&display=swap');

/* reset */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}
* {
  line-height: 1;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Dongle', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74de;
}

.header {
  font-family: 'Jua', sans-serif;
  font-size: 2.2rem;
  color: #fff;
  margin: 20px 0;
  text-align: center;
  z-index: 1;
}
